<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApplePayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94CFFD1A1D64CE2800A8432A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94CFFD311D64CE2A00A8432A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94CFFD3C1D64CE2A00A8432A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
